# Discord Token used by your bot
DISCORD_TOKEN="YOUR_DISCORD_BOT_TOKEN"

# Gemini API Key used by Express server and the bot
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# Web URL where the system is hosted
APP_URL="http://localhost:3000"
